*.class

# Package Files #
*.jar
*.war
*.ear
MANIFEST.MF
.settings

plugins-sdk-6.1.0/hooks/userService-hook/docroot/WEB-INF/classes
plugins-sdk-6.1.0/hooks/userService-hook/docroot/WEB-INF/web.xml
plugins-sdk-6.1.0/hooks/userService-hook/.project
plugins-sdk-6.1.0/hooks/userService-hook/.classpath
.DS_Store
